# You can add additional rules here

#add rule inet filter default_input tcp dport ... counter accept comment "..."

#
# Enables logging of dropped packages for debugging purposes
#
# You will find the logs in:
#   /var/log/kern.log
#   /var/log/syslog
#
add rule inet filter default_input log prefix "nft dropped: "
